:root {
  // colors
  --black: #000000;
  --gold: rgb(187, 161, 79);
  --grey: #353535;
  --white: #ffffff;
  --red: rgb(148,148,148);
  --lightgrey: #adaaaa;

  // fonts
  --title-font: "Alegreya Sans";
  --regular-font: "Assistent";
}
